.k{
    margin: 10px;
}
.fe{
    
    border-right: solid red 3px;
    padding:  5px 13px 10px 0px;
}
.f{
    margin: 10px 10px 10px;
}
.j{
    margin: 20px 10px 10px;
}
.g{
    margin: 20px 10px 10px;
}