.com{

    background-color: gray;
    width: auto;
    height: 100px;
    display: flex;
}
.com1{
    background-color: yellow;
}
.com2{
    background-color: yellow;
}
.com3{
    background-color: yellow;
}
.com4{
    background-color: yellow;
}