/* .clearfix:after { 
    content: ""; display: block; clear: both
} */
.header{
    background-color: rgb(129, 226, 250);
    height: auto;
    width: auto;
    padding: 50px 5px ;
}

.block{
    background-color: rgb(155, 245, 122);
    float: left;
    height: auto;
    width: auto;
    padding: 50px;
}
.content{
    background-color: blueviolet;
    float: none;
    height: auto;
    width: auto;
    
}
.block2{
    background-color: rgb(155, 245, 122);
    float: right;
    height: auto;
    width: auto;
    padding: 50px;
}
